
.petik1{
    left: 25%;
    top: 20%;
    animation-name: petik1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.petik2{
    right: 25%;
    top: 20%;
    animation-name: petik2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes petik1 {
    25%{
        left: 70%;
        transform: rotateY(150deg)
    }
    50%{
        left: 70%;
        transform: rotateY(150deg)
    }
    75%{
        left: 25%;
    }
}
@keyframes petik2 {
    25%{
        right: 70%;
        transform: rotateY(150deg)
    }
    50%{
        right: 70%;
        transform: rotateY(150deg)
    }
    75%{
        right: 25%;
    }
}
@media screen and (max-width: 768px){
    .petik1{
        left: 20%;
    }
    .petik2{
        right: 20%;
    }
    @keyframes petik1 {
        25%{
            left: 70%;
            transform: rotateY(150deg)
        }
        50%{
            left: 70%;
            transform: rotateY(150deg)
        }
        75%{
            left: 20%;
        }
    }
    @keyframes petik2 {
        25%{
            right: 70%;
            transform: rotateY(150deg)
        }
        50%{
            right: 70%;
            transform: rotateY(150deg)
        }
        75%{
            right: 20%;
        }
    }
}

.dot{
    border-radius: 50%;
    display: inline-block;
    z-index: -1;
}
.plot1{
    background-color: #D91E11;
    top: 30%;
    left: 20%;
    height: 22px;
    width: 22px;
    animation-name: plot1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.plot2{
    background-color: #FDBB2E;
    top: 60%;
    left: 30%;
    height: 10px;
    width: 10px;
    animation-name: plot2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.plot3{
    background-color: #2A8DFE;
    top: 70%;
    left: 10%;
    height: 28px;
    width: 28px;
    animation-name: plot3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.plot4{
    background-color: #2A8DFE;
    top: 30%;
    right: 20%;
    height: 16px;
    width: 16px;
    animation-name: plot4;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.plot5{
    background-color: #FDBB2E;
    top: 45%;
    right: 10%;
    height: 20px;
    width: 20px;
    animation-name: plot5;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.plot6{
    background-color: #D91E11;
    top: 60%;
    right: 30%;
    height: 13px;
    width: 13px;
    animation-name: plot6;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes plot1 {
    25%{
        top: 25%;
        left: 12%;
        background-color: #D91E11;
    }
    50%{
        top: 40%;
        left: 25%;
        background-color: #D91E11;
    }
    75%{
        top: 22%;
        left: 15%;
        background-color: #D91E11;
    }
    100%{
        background-color: white;
    }
}
@keyframes plot2 {
    25%{
        top: 55%;
        left: 25%;
    }
    50%{
        top: 50%;
        left: 10%;
    }
    75%{
        top: 52%;
        left: 28%;
    }
}
@keyframes plot3 {
    25%{
        top: 65%;
        left: 15%;
    }
    50%{
        top: 73%;
        left: 30%;
    }
    75%{
        top: 66%;
        left: 17%;
    }
}
@keyframes plot4 {
    25%{
        top: 50%;
        right: 15%;
    }
    50%{
        top: 35%;
        right: 25%;
    }
    75%{
        top: 22%;
        right: 15%;
    }
}
@keyframes plot5 {
    25%{
        top: 65%;
        right: 25%;
    }
    50%{
        top: 50%;
        right: 10%;
    }
    75%{
        top: 52%;
        right: 28%;
    }
}
@keyframes plot6 {
    25%{
        top: 50%;
        right: 25%;
        background-color: #D91E11;
    }
    50%{
        top: 70%;
        right: 30%;
        background-color: #D91E11;
    }
    75%{
        top: 66%;
        right: 17%;
        background-color: #D91E11;
    }
    100%{
        background-color: white;
    }
}