.mainRegister {
  background-color: #151921;
  height: 100vh;
  width: 100vw;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}

.box {
  border-radius: 20px;
  background: linear-gradient(to right, rgba(196, 196, 196, 0.1), rgba(201, 201, 201, 0.2), rgba(196, 196, 196, 0.1));
}

.buttonRegister {
  background-color: #ff3d00;
  border-radius: 100px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainRegister {
    height: 100vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .mainRegister {
    height: 100vh;
  }
}
