#create-thread input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
#create-thread input[type=radio]:nth-child(1):checked + label{
    color: black;
    background: #6C5DD4;
}
#create-thread input[type=radio]:nth-child(3):checked + label{
    color: black;
    background: #5DD8D0;
}
#create-thread input[type=radio]:nth-child(5):checked + label{
    color: black;
    background: #ECB0CD;
}
#create-thread input[type=radio]:nth-child(7):checked + label{
    color: black;
    background: #BE70EE;
}
#create-thread input[type=radio]:nth-child(9):checked + label{
    color: black;
    background: #FFA066;
}

#create-thread input[type="file"] {
    display: none;
}
#create-thread .file-preview {
    margin: 0 10px;
    color: white;
}

/* text editor */
ul{
    list-style: disc;;
}
ol{
    list-style: decimal;
}
a:link{
    color: blue;
}
.editor-toolbar{
    background-color: #eaecec;
    color: black;
}
.editor-toolbar .heading, .editor-toolbar .quote, .editor-toolbar .image, .editor-toolbar .preview, .editor-toolbar .side-by-side, .editor-toolbar .fullscreen, .editor-toolbar .guide{
    visibility: hidden;
    width: 0%;
}
.editor-toolbar .separator{
    visibility: hidden;
    width: 0%;
}