#home {
  background-color: #151921;
}

#home #container {
  margin-top: 100px;
}
@media screen and (max-width:480px) {
  #home #container {
    margin-top: 80px;
  }
}

#home #container #box-1 #kategori-list {
  width: 100%;
}

#home #container #box-1 ul {
  background-color: #222834;
  width: inherit;
  border-radius: 10px;
}

#home #container #box-1 {
  width: 30%;
}

#home #container #box-2 {
  width: 70%;
}

#home #container #box-2 #thread {
  border: 1px solid rgb(217, 217, 217, 0.1);
  margin-bottom: 42px;
  border-radius: 10px;
  padding: 20px 44px 30px 44px;
}
@media screen and (max-width: 480px) {
  #home #container #box-2 #thread{
    padding: 12px;
  }
}

#home #container #kategori li {
  padding: 25px 0px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  border-bottom: 1px solid rgb(217, 217, 217, 0.1);
}

#home #container #kategori li:nth-child(6) {
  border: none;
}

#home #box-2 #thread #thread-header div:nth-child(1) img {
  width: 80px;
}

#home #box-2 #thread #thread-button {
  background-color: #ff3d00;
  border-radius: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  padding: 10px 35px;
}

#home #box-2 #thread #thread-icon svg {
  width: 30px;
  height: 30px;
  color: white;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  #home #box-2 #thread #thread-icon svg {
      width: 20px;
      height: 20px;
  }
  #home #box-2 #thread #thread-button{
    padding: 8px 15px;
  }
}

#home #thread #thread-icon div:nth-child(5) {
  position: relative;
}

#home #thread #thread-icon div:nth-child(5) svg {
  color: white;
  margin: 0;
}

#home #thread-icon .more {
  display: none;
}

#home #thread-icon .more-4.active {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: -350%;
  right: 0;
  background-color: #222834;
  border-radius: 6px;
}

#home #thread-icon .more-4.active span, #home #thread-icon .more-4.active a {
  letter-spacing: 1px;
  padding: 10px 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (min-width: 400px) {
  #home #thread #thread-icon .more-4.active {
      top: -700%;
  }
}
@media screen and (min-width: 481px) {
  #home #thread #thread-icon .more-4.active {
      top: -750%;
  }
  #home #thread-icon .more-4.active span, #home #thread-icon .more-4.active a {
      padding: 15px 60px;
      font-size: 16px;
  }
}

#home #thread-icon .more-3.active {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: -250%;
  right: 0;
  background-color: #222834;
  border-radius: 6px;
}

#home #thread-icon .more-3.active span, #home #thread-icon .more-3.active a {
  letter-spacing: 1px;
  padding: 10px 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (min-width: 400px) {
  #home #thread #thread-icon .more-3.active {
      top: -550%;
  }
}
@media screen and (min-width: 481px) {
  #home #thread #thread-icon .more-3.active {
      top: -600%;
  }
  #home #thread-icon .more-3.active span, #home #thread-icon .more-3.active a {
      padding: 15px 60px;
      font-size: 16px;
  }
}

#home .popupShare,
#home .popupReport {
  visibility: hidden;
  display: none;
}

#home .popupShare.active,
#home .popupReport.active {
  display: block;
  visibility: visible;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(255, 255, 255, .01);
}

#home #close-popup svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
