/*Css Sidebar*/
/* li:hover {
  background-color: #ff3d00;
} */

.side-menu {
  margin-left: 30px;
}
/*end Css Sidebar*/

/*Css Navbar Admin*/

.Navbar-admin {
  margin-left: 280px;
}

.logout{
  cursor: pointer;
}
