/*Css Sidebar*/
li:hover {
  background-color: #ff3d00;
}

.side-menu {
  margin-left: 35px;
}
/*end Css Sidebar*/

/*Css Navbar Admin*/
.Search input {
  background: none;
  border: solid 1px;
  border-radius: 20px;
  padding: 7px;
  width: 400px;
}

.Navbar-admin {
  margin-left: 280px;
}

.Navbar-admin {
  margin-left: 280px;
}
