/*Css Sidebar*/
/* li:hover {
  background-color: #ff3d00;
} */

.side-menu {
  margin-left: 30px;
}
/*end Css Sidebar*/

/*Css Navbar Admin*/

.logout{
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 #thread {
  border: 1px solid rgb(217, 217, 217, 0.1);
  margin-bottom: 42px;
  border-radius: 10px;
  padding: 20px 44px 30px 44px;
}
@media screen and (max-width: 480px) {
   #thread{
      padding: 12px;
  }
}

 #thread #thread-header div:nth-child(1) img {
  width: 80px;
}

 #thread #thread-button {
  background-color: #FF3D00;
  padding: 10px 35px;
  border-radius: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

 #thread #thread-icon svg {
  width: 30px;
  height: 30px;
  color: white;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
   #thread #thread-icon svg {
      width: 20px;
      height: 20px;
  }
   #thread #thread-button {
      padding: 8px 15px;
  }
}

 #thread #thread-icon div:nth-child(5) {
  position: relative;
}

 #thread #thread-icon div:nth-child(5) svg {
  color: white;
  margin: 0;
}

 #thread-icon .more {
  display: none;
}

 #thread-icon .more-3.active {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: -250%;
  right: 0;
  background-color: #222834;
  border-radius: 6px;
}

 #thread-icon .more-3.active span,  #thread-icon .more-3.active a {
  letter-spacing: 1px;
  padding: 10px 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (min-width: 400px) {
   #thread #thread-icon .more-3.active {
      top: -550%;
  }
}
@media screen and (min-width: 481px) {
   #thread-icon .more-3.active span,  #thread-icon .more-3.active a {
      padding: 15px 60px;
      font-size: 16px;
  }
}

 .popupShare,  .popupReport,  .popupProfPic {
  visibility: hidden;
  display: none;
}

 .popupShare.active,  .popupReport.active,  .popupProfPic.active {
  display: block;
  visibility: visible;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.3);
}

 #close-popup svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
