.carousel {
    width: 100%;
    border: 1px solid #222834;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    cursor: grab;
}
@media screen and (max-width: 480px) {
    .carousel{
        margin-bottom: 24px;
        padding: 10px;
    }
}

.inner-carousel {
    display: inline-flex;
}

.inner-carousel .item img {
    pointer-events: none;
    background-color: aliceblue;
    border-radius: 50%;
}