#topic #thread {
    border: 1px solid rgb(217, 217, 217, 0.1);
    margin-bottom: 42px;
    border-radius: 10px;
    padding: 20px 44px 30px 44px;
}

#topic #thread #thread-header div:nth-child(1) img {
    width: 80px;
}

#topic #thread #thread-button {
    background-color: #FF3D00;
    padding: 10px 35px;
    border-radius: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

#topic #thread #thread-icon svg {
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    #topic #thread #thread-icon svg {
        width: 20px;
        height: 20px;
    }
    #topic #thread #thread-button {
        padding: 8px 15px;
    }
}

#topic #thread #thread-icon div:nth-child(5) {
    position: relative;
}

#topic #thread #thread-icon div:nth-child(5) svg {
    color: white;
    margin: 0;
}

#topic #thread-icon .more {
    display: none;
}

#topic #thread-icon .more.active {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    right: 0;
    background-color: #222834;
    border-radius: 6px;
}

#topic #thread-icon .more.active span {
    letter-spacing: 1px;
    padding: 20px 80px;
    text-align: center;
    font-weight: 700;
}

#topic .popupShare, #topic .popupReport, #topic .popupProfPic {
    visibility: hidden;
    display: none;
}

#topic .popupShare.active, #topic .popupReport.active, #topic .popupProfPic.active {
    display: block;
    visibility: visible;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(255, 255, 255, 0.3);
}

#topic #close-popup svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}